# backend local/dev
DATABASE_URL=postgresql://app_user:app_password@localhost:5432/task_manager
TOKEN_TENANT_A=tenant-a-local-token
TOKEN_TENANT_B=tenant-b-local-token

# cloudflare local/dev
NEXT_PUBLIC_API_URL=http://127.0.0.1:8787   

# cloudflare production
#NEXT_PUBLIC_API_URL=https://test-be-cloudflare.jeanpieres.workers.dev